.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 128, 128, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 1rem 2rem;
  border-radius: 12px;
  margin: 1rem auto;
  max-width: 1100px;
  
  color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar-links {
  cursor: pointer;
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
}

.navbar-links li span {
  
  color: white;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar-links li:hover {
  color: #fbd786;
  text-shadow: 0 0 5px #fbd786;
}
